* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#overlay::before {
    content: "";
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 10;
}

#bigimage,
#loggedinimage {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
}

/* content containers */

.main {
    z-index: 10;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    min-width: 30%;
    padding: 20px 40px;
    margin-top: 20px;
    margin-bottom: 70px;
}

#loggedin {
    margin-top: 40px;
    width: 50%;
}

/* fonts etc. */

h1,
h2 {
    font-family: "Oswald";
    font-weight: bold;
    padding: 10px 0;
}

#heading {
    z-index: 10;
    text-align: center;
    margin-top: 30px;
    color: #fff;
    font-size: 1.7em;
    width: 100%;
}

a {
    color: #144c52;
    text-decoration: none;
}

p {
    padding: 5px 0;
}

ul {
    margin-left: 20px;
}

hr {
    margin: 15px 0;
}

/*nav*/

nav {
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    font-weight: 600;
    text-transform: uppercase;
    z-index: 30;
}

#nav-items {
    display: flex;
    height: 60px;
    justify-content: space-around;
    align-items: center;
}

#nav-items a {
    text-decoration: none;
    font-family: "Oswald";
}

.topnav .hamburger-icon {
    display: none;
}

/*forms*/

label {
    display: block;
    margin: 5px 0;
    font-weight: 400;
    font-style: italic;
}

label > input {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

input {
    height: 30px;
    padding: 5px;
    width: 200px;
    margin: 20px;
    border: 1px solid #add2c9;
    background: rgba(255, 255, 255, 0.6);
}

input:focus {
    border: 2px solid #add2c9;
}

button {
    padding: 10px 20px;
    border: none;
    background: #5c8d89;
    border-radius: 5px;
    margin: 15px auto;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

button a {
    color: #fff;
}

#deletebutton {
    background: #e29c68;
    cursor: pointer;
}

#error {
    color: #0c907d;
    padding: 10px;
}

.left {
    text-align: left;
}

/*petition and canvas*/

canvas {
    border: 1px dashed #144c52;
    margin: 10px auto;
    display: block;
}

/*edit profile*/

#inline {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#inline > button {
    margin: 15px 0;
}

/*signers*/

.city,
#username {
    text-transform: capitalize;
}

/* media queries */

@media screen and (max-width: 600px) {
    .topnav {
        background: #144c52;
    }
    #nav-items {
        display: none;
    }
    .topnav a.hamburger-icon {
        display: block;
        padding: 10px 0;
    }
    .hamburger-icon img {
        width: 40px;
    }
    .topnav.responsive {
        position: relative;
        z-index: 500;
    }
    .topnav.responsive #nav-items {
        display: block;
        position: absolute;
        width: 100%;
    }
    .topnav.responsive #nav-items a {
        display: block;
        padding: 10px 0;
        font-size: 1.3em;
        background: #144c52;
        color: #fff;
    }
}

@media screen and (max-width: 740px) {
    #bigimage,
    #loggedinimage {
        height: 100vh;
    }
    #loggedin {
        width: 90%;
    }
    #heading {
        line-height: 2.2em;
    }
    .main {
        padding: 4% 5%;
    }
}
